{% block footer %} 
<div class="footer-main footer">

<div class="footerbottom" style="padding:0.5% 0px;">
<div class="container">
<div class="row">
<div class="col-md-12 last-infotext">
Use of this site signifies your agreement to Terms of Use. Trade Mark &amp; (c) KidsKula.com, a Media Span Company. All rights reserved.
Powered By <a target="_blank" href="http://webgentechnologies.com/">WEBGEN TECHNOLOGIES</a>
</div> <!--infotext ends-->
</div>

</div> <!--container ends-->
</div> <!--footerbottom ends-->
</div>
{% endblock %} 