{% extends 'BundleKidskulaBundle:Layout:social_base.html.twig' %}
 {% block content %} 
  <div class="container">
  <div class="row privacy-main">
    <div class="col-md-12">
        
    <h2> {{content.configuretitle}}</h2>
    
    {#Description goes here#}
    {{content.configuredescription}}
  
    </div>
  </div>
  <!-- /about-main ends -->
</div>{# empty Twig template #}
 {% endblock  %}