{% extends 'BundleCommonBundle:Layout:base.html.twig' %}
 {% block content %} 
<div class="banner-main">
  <div class="container">
        <div class="row">
    	<div class="col-md-4 banner-accordian">

        </div> <!--banner-accordian ends-->
 
<div class="col-md-8" style="padding:0px;"><img class="img-responsive" src="{{asset('bundles/CommonBundle/assets')}}/images/header_img1.png" alt=""></div>
</div> <!--row ends-->
</div> <!--container ends-->
</div> <!--banner-main ends-->

<!--container ends-->
 
 {% endblock  %}

