{% extends 'BundleKidskulaBundle:Layout:social_base.html.twig' %}
{% block content %} 
<div class="container">
<div class="student-msg-dashboard">
<h2> Message List</h2>
<div class=""> 
<div class="col-lg-12 col-md-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  Lisha Raym
                </a>
                <a href="#" class="list-group-item text-center">
                  Reshav Roy
                </a>
                <a href="#" class="list-group-item text-center">
                  John Reyan
                </a>
                <a href="#" class="list-group-item text-center">
                  Yammis
                </a>
                <a href="#" class="list-group-item text-center">
                 Kristin
                </a>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>


<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>



<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>


<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>
				
				
				
				
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
					
<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>


<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>
					
					
					
					
                </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>
				
                </div>
                <div class="bhoechie-tab-content">
<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>


<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>
				
				
				
                </div>
                <div class="bhoechie-tab-content">
				
<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>


<div class="message-item" id="m2">
<div class="message-inner">
<div class="message-head clearfix">
<div class="avatar pull-left">
<a href="">

<img alt="" src="/~kidskula/web/upload/profilepicture/chatimages/7ae12d69d5bce1b5fc19bf6108e3475297b56e58.jpeg" class="img-circle yolo-bor2">
</a></div>

<div class="user-detail">
<h5 class="handle">Sourav</h5>
<div class="post-meta">
<div class="asker-meta">
<span class="qa-message-when">
<span class="qa-message-when-data">January 20, 2015, 5:44 am</span>
</span>
</div>
</div>
</div>
</div>

<div class="qa-message-content">
<p>test </p>
</div>
</div>
</div>
				
				
				
                </div>
            </div>
        </div>
</div>
</div>
</div>

<script>
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>

{% endblock %}
