{% if collectionarray is not empty %}
{% for allclubs in clubentity %}
<div class="friendlist-inner col-md-3">
<p class="frnd-img"><img class="img-responsive red-bor2" src="{{asset('upload/clubimages/')}}{{ allclubs.clubId.path }}" alt=""></p>
<h2>{{ allclubs.clubId.title|slice(0, 10) }}..</h2>
</div>
{% endfor %}
{% else %}
<div class="col-md-12 col-sm-9 noresultfound">
 <img src="/~kidskula/web/bundles/KidskulaBundle/assets/images/error.png" alt="" height="25"> {{personal.firstName}} has not joined any club !!!
 </div>
{% endif %}
