{% extends 'BundleKidskulaBundle:Layout:base.html.twig' %}
 {% block content %} 
<div class="landingheading-top"> 
    Recover Your Password
</div>

        {% block flash %}
<div class="row" style="padding-top: 10px;">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">                
   {% for flashSuccessMessage in app.session.flashbag.get('success') %} 
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ flashSuccessMessage }}
        </div>
            {% endfor %}
            {% for flashErrorMessage in app.session.flashbag.get('error') %}  
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ flashErrorMessage }}
        </div>
            {% endfor %} 
    </div>
</div>
        {% endblock %}
<div class="container">

    
   {# Form for forget Password start here#}
    <div class="row" id="forgetpass">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" method="post" class="registrationform-main" action="{{path('fornt_forgotpassword')}}">

                <div class="reg-frm-space"> </div>
                
				<p class="reg-info-text"><em><strong>Enter email address/user name</strong></em></p>
                <div class="form-group">
                    <input type="text" name="_username" id="_username" class="form-control input-lg" placeholder="Email Id/User Name" tabindex="3" required >
                </div>

                <div class="row"> 
                    <div class="col-xs-6"> 
                        <p class="reg-info-text"><a href="{{path('fornt_login')}}" ><strong>Click for login</strong></a> </p>
                    </div>  
                </div>

                <div class="reg-frm-space"> </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12"><input type="submit" class="btn btn-success btn-block btn-lg searchfriendbtn" value="Recover Password"></div>
                </div>
            </form>
        </div>
    </div>
    {# Form for forget Password end  here#}
</div>

<!--container ends-->
 {% endblock  %}
